*classes/*
*.settings*
*.idea*
*.project
*.classpath
*.umlproject
*.euml*
*bin/log
.idea/
result/*
*/.cache-main
*target/*
*/target/*
*/*.iml
*.iml
core/target/*
spark/target/*
gui/target/*
spark/docs/*
spark/file/*
log/*
out/
.directory

core/src/log/librec\.log

core/src/main/java/net/librec/job/test1\.java

data/ml-10M100K/
