<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"> <log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>  

<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">   
    <layout class="org.apache.log4j.PatternLayout">   
        <param name="ConversionPattern" value="[%-5p] %m%n"/>   
    </layout>   
    <filter class="org.apache.log4j.varia.LevelRangeFilter">   
	     <param name="LevelMin" value="DEBUG" />   
	     <param name="LevelMax" value="INFO" />   
	</filter>  
</appender>   

<appender name="DEBUG" class="org.apache.log4j.RollingFileAppender">   
    <param name="File" value="debug.log"/>   
    <param name="Append" value="false"/>   
    <param name="MaxFileSize" value="20MB"/>   
    <param name="MaxBackupIndex" value="2"/>   
    <layout class="org.apache.log4j.PatternLayout">   
        <param name="ConversionPattern" value="[%-5p] %d -- %m%n"/>   
    </layout>   
	<filter class="org.apache.log4j.varia.LevelRangeFilter">   
	     <param name="LevelMin" value="DEBUG" />   
	     <param name="LevelMax" value="INFO" />   
	</filter>   
</appender> 

<appender name="INFO" class="org.apache.log4j.RollingFileAppender">   
    <param name="File" value="./results.txt" />   
    <param name="Append" value="false"/>   
    <param name="MaxFileSize" value="20MB"/>   
    <param name="MaxBackupIndex" value="2"/>   
    <layout class="org.apache.log4j.PatternLayout">   
        <param name="ConversionPattern" value="%m%n"/>   
    </layout>   
    <filter class="org.apache.log4j.varia.LevelRangeFilter">   
        <param name="LevelMin" value="INFO" />   
        <param name="LevelMax" value="INFO" />   
    </filter>   
</appender>  

<root>   
    <priority value="debug"/>   
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="DEBUG"/>   
    <appender-ref ref="INFO"/>   
</root>   
  
</log4j:configuration> 